*.csproj.vspscc
*.csproj.user
*.vssscc
obj
*_test_dest
makefile
sources
*.proj
*.suo
*.sln.cache
*.vshost.exe
*.vshost.exe.manifest
*.o
*.os
*.scons
*.pyc
*.obj
*.user
*.ncb
.eprj
Debug
_UpgradeReport_Files
.sconsign.dblite
build
SConstruct
UpgradeLog*
TestResult
Output
